* {
  box-sizing: border-box;
  color: #fff;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 1.15em;
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
