* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: #fff;
  color: hsl(192, 100%, 9%);
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 1.15em;
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
